@*Link layout file here*@

@{
    ViewData["Title"] = "Job - Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model MrFixIt.Models.Job

<h2>Edit Job</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.JobId)
    @Html.LabelFor(model => model.Title)
    @Html.TextBoxFor(model => model.Title, new { @required = "true" })
    @Html.LabelFor(model => model.Description)
    @Html.TextBoxFor(model => model.Description, new { @required = "true" })
    <input type="submit" value="Save" />

}

<p>@Html.ActionLink("Back to list", "Index")</p>
