
<div class="text-center">
    <h3>Our Current Jobs</h3>
    @Html.ActionLink("Add a new job", "Create")
</div>
@foreach (var Job in Model)
{
       
    <ul>
        <li>@Job.Title</li>
    
        <ul class="job-description">
            <li>@Job.Description</li>
        </ul>

        @*//If there is no job , then worker who is available should claim it*@

        @if (Job.Worker == null)
        {
        <li class="btn" id="@Job.JobId">This job is unclaimed.
            @if (Job.Worker.Identity.Name != Job.Worker.UserName)
            {
                <button value="@Job.JobId" class="claim-job btn btn-primary">Claim this job!</button>
            }
</li>

        }

        @*If available worker claims to complete the job and/or is still working on it *@
        else
        {
            @if (Job.Completed)
            {

            <li class="btn" id="@Job.JobId">This Job is claimed by @Job.Worker.FirstName @Job.Worker.LastName</li>

            }
            else if (Job.Pending)
            {
                <li class="btn btn-primary" id="@Job.JobId">
                    This Job is claimed and being worked on by @Job.Worker.FirstName @Job.Worker.LastName.
                    @if(Job.Worker.Identity.Name == Job.Worker.UserName)
                    {
<button value="@Job.JobId" class="btn btn-primary complete"> Still to be Done!</button>

                    }
                </li>
            }
            else
            {
                <li class="btn" id="job-@Job.JobId">
                    This Job is claimed by @Job.Worker.FirstName @Job.Worker.LastName.
                    @if (Job.Worker.Identity.Name == Job.Worker.UserName)
                    {
                        <button value="@Job.JobId" class="working btn btn-primary">Still working!</button>
                    }
                </li>
            }
        }
    </ul>

    <hr />
}

<script>
//write AJAX call to claim job
$(document).ready(function () {
    $(".claim-job").click(function () {
        var selectedId = $(this).attr("value");
        $.ajax({
            type: "POST",
            url: '@Url.Action("Claim")',    //method defined in controller
            dataType: "json",
            data: $(this).serialize(),   //serialize() method turns data submitted from the form into a format that can be used by the controller.
            success: function (result) {
            var resultString =
            $("#job-" + selectedId).text("This Job is claimed by " + result.worker.firstName + " " + result.worker.lastName + ".");
            $("#job-" + selectedId).append("<button value=\"" + selectedId + "\" class=\"working btn btn-primary\">Still working!</button>");
            $('add-job').html(resultString);

            console.log(result);
            if (!result.worker.available) {
            $(".claim-job").hide();
        }
    }
        });
     });
 });
</script>


@*//var resultString = $(this).hide();*@