
<div class="text-center">
    <h3>Our Current Jobs</h3>
    @Html.ActionLink("Add a new job", "Create")
</div>

@foreach (var Job in Model)
{
       
    <ul>
        <li>@Job.Title</li>
    
        <ul class="job-description">
            <li>@Job.Description</li>
        </ul>

        @if (Job.Worker == null)
        {
            <li class="btn" id="job-@Job.JobId">
                This job is unclaimed.
                <button class="btn btn-warning">@Html.ActionLink("Claim This Job", "Claim", new { @text = @Job.Title, id = Job.JobId })</button>
                <button class="btn btn-info">@Html.ActionLink("Save", "Edit", new {id = Job.JobId})</button>
                
            </li>
        }
        else
        {
            @if (Job.Completed == true)
            {
                <li class="btn" id="job-@Job.JobId">This Job has been completed by @Job.Worker.FirstName @Job.Worker.LastName.</li>
            }
            else if (Job.Pending == true)
            {
                <li class="btn" id="job-@Job.JobId">
                    This Job is claimed and being worked on by @Job.Worker.FirstName @Job.Worker.LastName.
                    @if (User.Identity.Name == Job.Worker.UserName )
                    {
                        <button value="@Job.JobId" class="complete btn btn-primary">Hey, I'm done working over here!</button>
                    }
                </li>
            }
            else
            {
                <li class="btn" id="job-@Job.JobId">
                    This Job is claimed by @Job.Worker.FirstName @Job.Worker.LastName.
                    @if (User.Identity.Name == Job.Worker.UserName)
                    {
                        <button value="@Job.JobId" class="working btn btn-primary">Hey, I'm working over here!</button>
                    }
                </li>
            }
        }
        
    </ul>

    <hr />
}

<script type="text/javascript">
//write AJAX call to claim job
$(document).ready(function () {
    $(".claim-job").click(function () {
        var selectedId = $(this).attr("value");
        $.ajax({
            type: "POST",
            url: '@Url.Action("Claim")',    //method defined in controller
            dataType: "json",
            data: $(this).serialize(),   //serialize() method turns data submitted from the form into a format that can be used by the controller.
            success: function (result) {
            //var resultString =
            $("#job-" + selectedId).text("This Job is claimed by " + result.worker.firstName + " " + result.worker.lastName + ".");
            $("#job-" + selectedId).append("<button value=\"" + selectedId + "\" class=\"working btn btn-primary\">Still working!</button>");

            console.log(result);
            if (!result.worker.available) {
            $(".claim-job").hide();
        }
    }
        });
     });
 });
</script>


@*//var resultString = $(this).hide();*@