
<div class="text-center">
    <h3>Our Current Jobs</h3>
    @Html.ActionLink("Add a new job", "Create")
</div>
@foreach (var Job in Model)
{
        @*//Change ul to div selector and li to p*@  
    <div>
        <h2>@Job.Title</h2>
    
          
        <div class="job-description">
            <p>@Job.Description</p>
        </div>

        @if (Job.Worker == null)
        {
        <div class="btn">This job is unclaimed. @Html.ActionLink("Claim This Job", "Claim", new { @text = @Job.Title, id = Job.JobId })</div>
        }
        else
        {
            <div class="btn">This Job is claimed by @Job.Worker.FirstName @Job.Worker.LastName</div>

        }
    </div>


    <hr />
}

